[submodule "dsw1_exemplo_fatorial"]
	path = dsw1_exemplo_fatorial
	url = https://github.com/ednilsonrossi/dsw1_exemplo_fatorial
[submodule "dsw1_diagnostica_lista_produtos"]
	path = dsw1_diagnostica_lista_produtos
	url = https://github.com/ednilsonrossi/dsw1_diagnostica_lista_produtos.git
[submodule "dsw1_diagnostica_monitoramente_estoque"]
	path = dsw1_diagnostica_monitoramente_estoque
	url = https://github.com/ednilsonrossi/dsw1_diagnostica_monitoramente_estoque.git
[submodule "dsw1_helloworld"]
	path = dsw1_helloworld
	url = https://github.com/ednilsonrossi/dsw1_helloworld.git
[submodule "dsw1_projeto_agenda_contatos"]
	path = dsw1_projeto_agenda_contatos
	url = https://github.com/ednilsonrossi/dsw1_projeto_agenda_contatos
[submodule "dsw1_projeto_horario_mundial"]
	path = dsw1_projeto_horario_mundial
	url = https://github.com/ednilsonrossi/dsw1_projeto_horario_mundial.git
[submodule "dsw1_hello_servlet"]
	path = dsw1_hello_servlet
	url = https://github.com/ednilsonrossi/dsw1_hello_servlet.git
[submodule "dsw1_fix2_temperature_converter"]
	path = dsw1_fix2_temperature_converter
	url = https://github.com/ednilsonrossi/dsw1_fix2_temperature_converter.git
[submodule "dsw1_fix2_matriculas"]
	path = dsw1_fix2_matriculas
	url = https://github.com/ednilsonrossi/dsw1_fix2_matriculas.git
[submodule "dsw1_projeto_dados_pessoais"]
	path = dsw1_projeto_dados_pessoais
	url = https://github.com/ednilsonrossi/dsw1_projeto_dados_pessoais.git
[submodule "dsw1_agenda_contatos_mvc"]
	path = dsw1_agenda_contatos_mvc
	url = https://github.com/ednilsonrossi/dsw1_agenda_contatos_mvc.git
